.card_to-add{
    cursor: pointer;
}
.card_to-add:hover{
    background:rgba(38,143,255,.5);
}
.card-body_to-add {
    background: #f8f9fa;
    transition: 0.5s;
}
.card-body_to-add:hover {
    background:rgba(38,143,255,.5);
}
.card-body_to-add:after {
    content: '+';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    transition: 0.5s;
}
.card-body_to-add:hover:after {
    background: rgba(38,143,255,.5);
    color: #f8f9fa;
}